
@{
    ViewBag.Title = "Index";
}
<div>
    <a href="/">Home</a>
    <a href="/portfolio/profile">Profile</a>
    <a href="/portfolio/education">Education</a>
    <a href="/portfolio/projects">Projects</a>
    <a href="/portfolio/references">References</a>
</div>
<h2>Welcome to my Portfolio</h2>
<h3>Name : @ViewBag.Name</h3>
<h4>Email : @ViewBag.Email</h4>
<h5>Bio : @ViewBag.Bio</h5>

